@page
@model CIDM3312_Final_Project.Pages.Recipes.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Recipe</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Recipe.RecipeName" class="control-label"></label>
                <input asp-for="Recipe.RecipeName" class="form-control" />
                <span asp-validation-for="Recipe.RecipeName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Recipe.RecipeDescription" class="control-label"></label>
                <input asp-for="Recipe.RecipeDescription" class="form-control" />
                <span asp-validation-for="Recipe.RecipeDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Recipe.Ingredient" class="control-label"></label>
                <input asp-for="Recipe.Ingredient" class="form-control" />
                <span asp-validation-for="Recipe.Ingredient" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Recipe.Instruction" class="control-label"></label>
                <input asp-for="Recipe.Instruction" class="form-control" />
                <span asp-validation-for="Recipe.Instruction" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Recipe.Tag" class="control-label"></label>
                <input asp-for="Recipe.Tag" class="form-control" />
                <span asp-validation-for="Recipe.Tag" class="text-danger"></span>
            </div>
             <div class="form-group">
                <label asp-for="Recipe.Categories" class="control-label"></label>
                <input asp-for="Recipe.Categories" class="form-control" />
                <span asp-validation-for="Recipe.Categories" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
